
#Title{
  display: flex;
  background-color: #fed6cd;
  color: black;
  text-shadow: 2px;
  font-weight: 600;
  width: 100%;
  padding: 15px;
  justify-content: center;
  position: absolute;
  top: 0;
}